html {
    scroll-behavior: smooth;
  }
  
  section {
    scroll-margin-top: 100px;
  }
  

  
body{
    font-family: montserrat;
}  

.titulo,.sobremim, .habilidades{
    color:#00CD07
}

#botaolinkedin{
    border-color: #00CD07;
}