html {
    scroll-behavior: smooth;
  }
  
  /* Define uma margem para evitar sobreposição */
  section {
    scroll-margin-top: 100px;
  }
  
  /* Destaca o link quando a seção correspondente estiver visível */
  :has(#inicio:target) #link-inicio,
  :has(#projetos:target) #link-projetos {
    color: #00CD07;
  }

  
body{
    font-family: montserrat;
}  

.titulo,.sobremim, .habilidades{
    color:#00CD07
}

#botaolinkedin{
    border-color: #00CD07;
}